/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Custom CSS
   ========================================================================== */

/* General */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

section {
    clear: both;
    padding: 50px 0;
}

h2, h3 {
    color: #463F32;
  
    margin-bottom: 30px;
}

h4 {
    color: #463F32;
    text-transform: uppercase;
}

h2:after,
h3:after {
    content: "";
    height: 5px;
    width: 40px;
    background-color: #e1c7d9;
    display: block;
    margin: 8px auto;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

/* Navbar fixed-left */

.navbar-fixed-left {
  position: fixed;
  height: 100%;
  z-index: 998 !important;
  min-width: 4%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
}

.navbar-default {
    box-shadow: none;
    border:none;
    background-color: #e1c7d9;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.3em;
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #463F32;
    font-size: 1.5em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/* Slider */

section#slider {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1c7d9+40,c0a5ae+100 */
    background: #e1c7d9; /* Old browsers */
    background: -moz-linear-gradient(left, #e1c7d9 40%, #c0a5ae 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e1c7d9 40%,#c0a5ae 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e1c7d9 40%,#c0a5ae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1c7d9', endColorstr='#c0a5ae',GradientType=1 ); /* IE6-9 */    min-height: 700px;
    padding: 100px 0 !important;
    margin:0 !important;
}

section#slider img {
    margin: 0 auto;
}

/* Grey Circles */

.grey-circle {
    width: 100%;
    padding-bottom: 100%;
    background-color: #463F32;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
}

.grey-circle div {
    float:left;
    width: 100%;
    padding-top:45%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align:center;
    color: #ffffff;
}

.grey-circle div svg {
    font-size: 3em;
}

#skills .grey-circle div svg {
    font-size: 2em;
}



#about .grey-circle {
    width: 50%;
    padding-bottom: 50%;

}



/* Skills */

section#skills {
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    margin-left: 0;
}

.item-skills {
    margin-bottom: 30px;
}

/* Modal */

.modal-body {
    text-align: center;
}

/* Parallax */

section#parallax {
    height:500px;
    width: 100%;
    margin-left: 0;
    background-image: url(../img/parallax.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2.parallax {
    font-size: 3.6em;
    color: #ffffff;
    font-weight:700;
}

/* Resume */

section#resume {
    padding-bottom: 0;
}

section#resume .content-downloads {
    height: 700px;
    position: relative;
}

section#resume div.image-left {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
    -webkit-box-shadow: inset -7px -7px 12px -2px  rgba(0,0,0,0.15);
    -moz-box-shadow: inset -7px -7px 12px -2px  rgba(0,0,0,0.15);
    box-shadow: inset -7px -7px 12px -2px  rgba(0,0,0,0.15);
}

section#resume div.image-left img {
    position: absolute;
    bottom: 0;
}

section#resume .downloads-empty {
    width: 50%;
    background-color: #f5f5f5;
    float: right;
    height: 100%;
    z-index: 2;
    background-image: url(../img/downloadAppBG.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

section#resume .download {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50px;

}

section#resume .mode > div {
    border-radius: 20px;
    border: 3px solid #E1C7D9;
    padding: 11px 0;
    font-size: 1.2em;
    position: relative;
    padding-left: 50px;
    color: #CFAEBF;
}

section#resume .mode svg {
    font-size: 2.5em;
    position: absolute;
    left:20px;
    top: 12px;
}


/* Contact Form */

section#contact {
    padding-bottom: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e1c7d9+40,c0a5ae+100 */
    background: #e1c7d9; /* Old browsers */
    background: -moz-linear-gradient(left, #e1c7d9 40%, #c0a5ae 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e1c7d9 40%,#c0a5ae 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e1c7d9 40%,#c0a5ae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1c7d9', endColorstr='#c0a5ae',GradientType=1 ); /* IE6-9 */    min-height: 700px;
    width: 100%;
    height: auto;
    margin-left: 0;
}

section#contact h2 {
    color: #ffffff;
}

section#contact h2:after {
    background-color: #ffffff;
}

section#contact p {
    font-size : 1.6em;
    color: #ffffff;
}

section#contact input, 
section#contact textarea {
    min-height: 50px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;

}

section#contact textarea {
    min-height: 200px;
}

section#contact input.btn {
    background-color: #ffffff;
    padding: 5px 50px;
    font-size:1.4em;
    color: #e1c7d9;
}

::-webkit-input-placeholder {
    color: #ffffff !important;
}

:moz-placeholder {
    color: #ffffff !important;
}

::moz-placeholder {
    color: #ffffff !important;
}

:-ms-input-placeholder {
    color: #ffffff !important;
}

/* Footer */

footer {
    background-color: #CFAEBF;
    margin: 0;
    z-index: 999 !important;
    padding: 10px 0;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #463F32;
    text-decoration: none;
    font-size: 1.2em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}